## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
type_count = application_df["APPLICATION_TYPE"].value_counts()
type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_count[type_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_filter = class_count[class_count > 1]
class_count_filter

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count<1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop('IS_SUCCESSFUL', axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 56)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
features = len( X_train_scaled[0])
hidden_nodes_1 = 70
hidden_nodes_2 = 45
hidden_nodes_3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_1, activation='relu', input_dim = features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_2, activation = 'relu'))

# Thirde hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_3, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'relu'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 70)                3080

 dense_4 (Dense)             (None, 45)                3195

 dense_5 (Dense)             (None, 30)                1380

 dense_6 (Dense)             (None, 1)                 31

=================================================================
Total params: 7,686
Trainable params: 7,686
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [18]:
# Train the model
train_model = nn.fit(X_train_scaled, y_train, epochs = 100 )

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0949 - accuracy: 0.6857
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7493 - accuracy: 0.7152
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7201 - accuracy: 0.7103
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6719 - accuracy: 0.7184
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6431 - accuracy: 0.7205
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6356 - accuracy: 0.7249
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6314 - accuracy: 0.7254
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6771 - accuracy: 0.7186
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6158 - accuracy: 0.7271
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6257 - accuracy: 0.7226
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6039 - accuracy: 0.7275
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6038 - accuracy: 0.7289
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5975 - accuracy: 0.7261
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5983 - accuracy: 0.7222
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5945 - accuracy: 0.7277
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5984 - accuracy: 0.7259
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5818 - accuracy: 0.7293
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5744 - accuracy: 0.7329
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5876 - accuracy: 0.7277
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5847 - accuracy: 0.7317
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5890 - accuracy: 0.7313
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7322
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5888 - accuracy: 0.7310
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5758 - accuracy: 0.7299
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5762 - accuracy: 0.7304
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5810 - accuracy: 0.7294
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5792 - accuracy: 0.7331
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5785 - accuracy: 0.7316
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5717 - accuracy: 0.7335
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5764 - accuracy: 0.7327
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5705 - accuracy: 0.7342
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5760 - accuracy: 0.7339
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5842 - accuracy: 0.7335
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5751 - accuracy: 0.7322
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5861 - accuracy: 0.7340
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5814 - accuracy: 0.7343
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5789 - accuracy: 0.7347
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5796 - accuracy: 0.7340
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5834 - accuracy: 0.7315
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7313
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5873 - accuracy: 0.7280
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5775 - accuracy: 0.7328
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5889 - accuracy: 0.7310
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5714 - accuracy: 0.7344
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5736 - accuracy: 0.7360
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5707 - accuracy: 0.7339
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5711 - accuracy: 0.7348
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5779 - accuracy: 0.7353
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5933 - accuracy: 0.7353
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5868 - accuracy: 0.7356
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5934 - accuracy: 0.7358
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5763 - accuracy: 0.7346
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7361
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7348
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5622 - accuracy: 0.7363
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7353
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5653 - accuracy: 0.7367
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5786 - accuracy: 0.7351
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5709 - accuracy: 0.7355
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5770 - accuracy: 0.7354
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5822 - accuracy: 0.7360
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5858 - accuracy: 0.7367
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5714 - accuracy: 0.7344
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5720 - accuracy: 0.7339
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5727 - accuracy: 0.7356
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5733 - accuracy: 0.7367
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5650 - accuracy: 0.7377
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5715 - accuracy: 0.7370
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5715 - accuracy: 0.7368
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5683 - accuracy: 0.7372
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7368
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5688 - accuracy: 0.7366
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5686 - accuracy: 0.7362
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7376
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5704 - accuracy: 0.7365
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5756 - accuracy: 0.7378
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5691 - accuracy: 0.7363
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7375
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5760 - accuracy: 0.7332
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5657 - accuracy: 0.7378
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5731 - accuracy: 0.7380
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5774 - accuracy: 0.7381
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5874 - accuracy: 0.7377
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5758 - accuracy: 0.7371
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7380
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5718 - accuracy: 0.7383
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5799 - accuracy: 0.7381
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5719 - accuracy: 0.7371
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5761 - accuracy: 0.7376
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7378
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7373
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7372
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5696 - accuracy: 0.7381
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5660 - accuracy: 0.7383
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5645 - accuracy: 0.7384
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5885 - accuracy: 0.7370
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5861 - accuracy: 0.7363
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5870 - accuracy: 0.7367
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5783 - accuracy: 0.7379
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5851 - accuracy: 0.7367

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6338 - accuracy: 0.7296 - 332ms/epoch - 1ms/step
Loss: 0.6338284015655518, Accuracy: 0.7295626997947693

In [21]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')